In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('data/population_le_cleaned.csv')

In [19]:
df.head()

,CountryName,CountryCode,Region,SeriesName,SeriesCode,Year,TotalPopulation,MalePopulation,FemalePopulation,MalePercentage,FemalePercentage,TotalLifeExpectancy,MaleLifeExpectancy,FemaleLifeExpectancy
0,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1960,8996351.0,4650518,4345833,51.693385,48.306615,35.307,33.781,35.307
1,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1961,9166764.0,4730355,4436409,51.603321,48.396679,35.738,34.214,35.738
2,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1962,9345868.0,4814869,4530999,51.518691,48.481309,36.170,34.646,36.170
3,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1963,9533954.0,4904210,4629744,51.439414,48.560586,36.603,35.079,36.603
4,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1964,9731361.0,4998550,4732811,51.365375,48.634625,37.042,35.516,37.042

In [25]:
df.Region = df.Region.apply(lambda x: ''.join(i for i in x.title() if not x.isspace()))

In [26]:
new = pd.DataFrame(df.groupby(['Region', 'Year'])['TotalPopulation', 'MalePopulation', 'FemalePopulation'].sum())

In [27]:
new

                          TotalPopulation  MalePopulation  FemalePopulation
Region              Year
East Asia & Pacific 1960     1.010130e+09       513536900         496593232
                    1961     1.012552e+09       514475765         498075949
                    1962     1.025829e+09       521062273         504766635
                    1963     1.050383e+09       533454662         516928014
                    1964     1.074552e+09       545637181         528914350
                    1965     1.099757e+09       558329878         541426846
                    1966     1.128373e+09       572750092         555622736
                    1967     1.156026e+09       586657131         569368865
                    1968     1.184087e+09       600788083         583299268
                    1969     1.215674e+09       616715191         598959269
                    1970     1.247297e+09       632727750         614569029
                    1971     1.279914e+09       649298539         630615229
                    1972     1.310759e+09       665004542         645754571
                    1973     1.340065e+09       679961390         660103446
                    1974     1.369204e+09       694806880         674397600
                    1975     1.395366e+09       708115394         687250153
                    1976     1.418595e+09       719919975         698675212
                    1977     1.440480e+09       731013105         709466904
                    1978     1.462252e+09       742033295         720218844
                    1979     1.484383e+09       753226157         731156807
                    1980     1.505992e+09       764139513         741852465
                    1981     1.528275e+09       775383691         752891218
                    1982     1.552739e+09       787734080         765005088
                    1983     1.577163e+09       800070434         777092890
                    1984     1.600385e+09       811823936         788561379
                    1985     1.624327e+09       823995518         800331653
                    1986     1.650046e+09       837132718         812913675
                    1987     1.677290e+09       851100620         826189444
                    1988     1.704820e+09       865242159         839577561
                    1989     1.731752e+09       879070102         852682244
...                                   ...             ...               ...
Western Europe      1991     3.638450e+05          178883            184962
                    1992     3.676180e+05          180884            186734
                    1993     3.713080e+05          182850            188458
                    1994     3.747970e+05          184716            190081
                    1995     3.774190e+05          186152            191267
                    1996     3.799050e+05          187520            192385
                    1997     3.827910e+05          189086            193705
                    1998     3.852870e+05          190445            194842
                    1999     3.875780e+05          191670            195908
                    2000     3.900870e+05          192959            197128
                    2001     3.930280e+05          194410            198618
                    2002     3.959690e+05          195816            200153
                    2003     3.985820e+05          197050            201532
                    2004     4.012680e+05          198355            202913
                    2005     4.038340e+05          199667            204167
                    2006     4.053080e+05          200519            204789
                    2007     4.067240e+05          201407            205317
                    2008     4.093790e+05          202947            206432
                    2009     4.124770e+05          204704            207773
                    2010     4.145080e+05          205900            208608
                    2011     4.162680e+05          206922            209346
                    2012     4.194550e+05          208624            210831
                    2013     4.233740e+05          210669            212705
                    2014     4.273640e+05          212739            214625
                    2015     4.318740e+05          215072            216802
                    2016     4.369470e+05          217687            219260
                    2017     4.380000e+05          218000            220000
                    2018     4.390000e+05          219000            220000
                    2019     4.390000e+05          219000            220000
                    2020     4.400000e+05          219000            220000

[610 rows x 3 columns]

In [29]:
new.to_csv('data/region_pop.csv')