In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/population_lifeexpectancy.csv', encoding='utf-8')

In [3]:
df.head()

,CountryName,CountryCode,Region,SeriesName,SeriesCode,Year,Year.1,TotalPopulation,MalePopulation,FemalePopulation,MalePercentage,FemalePercentage,TotalLifeExpectancy,MaleLifeExpectancy,FemaleLifeExpectancy
0,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1960,1960 [YR1960],8996351.0,4650518,4345833,51.693385,48.306615,35.307,33.781,35.307
1,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1961,1961 [YR1961],9166764.0,4730355,4436409,51.603321,48.396679,35.738,34.214,35.738
2,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1962,1962 [YR1962],9345868.0,4814869,4530999,51.518691,48.481309,36.170,34.646,36.170
3,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1963,1963 [YR1963],9533954.0,4904210,4629744,51.439414,48.560586,36.603,35.079,36.603
4,Afghanistan,AFG,South Asia,"Population, total",SP.POP.TOTL,1964,1964 [YR1964],9731361.0,4998550,4732811,51.365375,48.634625,37.042,35.516,37.042

In [4]:
df.drop('Year.1', axis=1, inplace = True)

In [5]:
df.columns

Index(['CountryName', 'CountryCode', 'Region', 'SeriesName', 'SeriesCode',
       'Year', 'TotalPopulation', 'MalePopulation', 'FemalePopulation',
       'MalePercentage', 'FemalePercentage', 'TotalLifeExpectancy',
       'MaleLifeExpectancy', 'FemaleLifeExpectancy'],
      dtype='object')

In [6]:
df.isnull().sum()

CountryName                0
CountryCode                0
Region                  2684
SeriesName                 0
SeriesCode                 0
Year                       0
TotalPopulation            0
MalePopulation             0
FemalePopulation           0
MalePercentage             0
FemalePercentage           0
TotalLifeExpectancy        0
MaleLifeExpectancy         0
FemaleLifeExpectancy       0
dtype: int64

In [7]:
pd.value_counts(df.Region)

Europe & Central Asia         2989
Sub-Saharan Africa            2684
Latin America & Caribbean     1769
East Asia & Pacific           1586
0                             1281
Middle East & North Africa    1098
South Asia                     488
WESTERN EUROPE                 427
OCEANIA                        366
North America                  122
LATIN AMER. & CARIB            122
SUB-SAHARAN AFRICA             122
NORTHERN AMERICA                61
Name: Region, dtype: int64

In [8]:
#df = df[df.Region != 'Region']

In [9]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [10]:
display_all(pd.value_counts(df.CountryName).T)

Iceland                                                 61
Slovak Republic                                         61
Malta                                                   61
Least developed countries: UN classification            61
Virgin Islands (U.S.)                                   61
India                                                   61
El Salvador                                             61
Bahamas, The                                            61
Micronesia, Fed. Sts.                                   61
China                                                   61
Ireland                                                 61
Sudan                                                   61
Mongolia                                                61
British Virgin Islands                                  61
Vietnam                                                 61
Djibouti                                                61
United States                                           61
Monaco                                                  61
Middle East & North Africa                              61
Ghana                                                   61
High income                                             61
European Union                                          61
Swaziland                                               61
Not classified                                          61
Croatia                                                 61
Malaysia                                                61
Central African Republic                                61
Latin America & Caribbean (excluding high income)       61
Mali                                                    61
Korea, Dem. People’s Rep.                               61
Argentina                                               61
Eritrea                                                 61
Burkina Faso                                            61
Turks and Caicos Islands                                61
Singapore                                               61
Lower middle income                                     61
Venezuela, RB                                           61
Rwanda                                                  61
Kyrgyz Republic                                         61
France                                                  61
Bosnia and Herzegovina                                  61
Upper middle income                                     61
Samoa                                                   61
South Asia                                              61
East Asia & Pacific                                     61
Ethiopia                                                61
Romania                                                 61
Iran, Islamic Rep.                                      61
Georgia                                                 61
Bahrain                                                 61
Peru                                                    61
Nicaragua                                               61
Jamaica                                                 61
Namibia                                                 61
Myanmar                                                 61
American Samoa                                          61
Kazakhstan                                              61
Heavily indebted poor countries (HIPC)                  61
Low income                                              61
Kenya                                                   61
Sao Tome and Principe                                   61
Tuvalu                                                  61
Vanuatu                                                 61
Israel                                                  61
Burundi                                                 61
Latin America & Caribbean                               61
Finland                                                 61
Somalia                                                 61
Tanzania                                                61
Russian Federation                                      61
Uganda                                                  61
Mexico                                                  61
Greece                                                  61
Solomon Islands                                         61
Cabo Verde                                              61
Liechtenstein                                           61
Slovenia                                                61
Tunisia                                                 61
Pacific island small states                             61
Montenegro                                              61
Togo                                                    61
Europe & Central Asia (IDA & IBRD countries)            61
Mauritania                                              61
Bangladesh                                              61
World                                                   61
Antigua and Barbuda                                     61
Estonia                                                 61
Kosovo                                                  61
Maldives                                                61
Middle East & North Africa (IDA & IBRD countries)       61
Chad                                                    61
Sri Lanka                                               61
Guatemala                                               61
Brazil                                                  61
Ecuador                                                 61
Europe & Central Asia                                   61
Canada                                                  61
East Asia & Pacific (excluding high income)             61
OECD members                                            61
Late-demographic dividend                               61
Sweden                                                  61
Spain                                                   61
Latvia                                                  61
Haiti                                                   61
Other small states                                      61
Cuba                                                    61
Botswana                                                61
Suriname                                                61
Bermuda                                                 61
Puerto Rico                                             61
Lithuania                                               61
South Asia (IDA & IBRD)                                 61
West Bank and Gaza                                      61
Morocco                                                 61
Sierra Leone                                            61
Zambia                                                  61
Italy                                                   61
Hungary                                                 61
French Polynesia                                        61
Sub-Saharan Africa                                      61
Euro area                                               61
Low & middle income                                     61
Jordan                                                  61
Nigeria                                                 61
Germany                                                 61
New Caledonia                                           61
South Africa                                            61
Arab World                                              61
Sint Maarten (Dutch part)                               61
Benin                                                   61
San Marino                                              61
Curacao                                                 61
St. Martin (French part)                                61
North America                                           61
Costa Rica                                              61
Netherlands                                             61
Central Europe and the Baltics                          61
Ukraine                                                 61
Grenada                                                 61
Gambia, The                                             61
Belize                                                  61
Channel Islands                                         61
Faroe Islands                                           61
Aruba                                                   61
Syrian Arab Republic                                    61
Tajikistan                                              61
Armenia                                                 61
Nepal                                                   61
Cambodia                                                61
Sub-Saharan Africa (excluding high income)              61
Australia                                               61
Uzbekistan                                              61
Belgium                                                 61
St. Kitts and Nevis                                     61
Marshall Islands                                        61
Cote d'Ivoire                                           61
Belarus                                                 61
Luxembourg                                              61
Niger                                                   61
Macao SAR, China                                        61
Panama                                                  61
Uruguay                                                 61
Thailand                                                61
Hong Kong SAR, China                                    61
Denmark                                                 61
Kiribati                                                61
Papua New Guinea                                        61
Mozambique                                              61
Turkmenistan                                            61
Guyana                                                  61
Equatorial Guinea                                       61
Barbados                                                61
Mauritius                                               61
Zimbabwe                                                61
St. Lucia                                               61
Madagascar                                              61
Nauru                                                   61
Honduras                                                61
Serbia                                                  61
Angola                                                  61
Czech Republic                                          61
Philippines                                             61
Gibraltar                                               61
Colombia                                                61
Trinidad and Tobago                                     61
Andorra                                                 61
Cyprus                                                  61
Timor-Leste                                             61
Switzerland                                             61
Pakistan                                                61
Isle of Man                                             61
Turkey                                                  61
Afghanistan                                             61
Cayman Islands                                          61
Paraguay                                                61
United Kingdom                                          61
Early-demographic dividend                              61
Japan                                                   61
Bolivia                                                 61
Fiji                                                    61
Post-demographic dividend                               61
Palau                                                   61
Lao PDR                                                 61
Lesotho                                                 61
Indonesia                                               61
Liberia                                                 61
Qatar                                                   61
Poland                                                  61
Seychelles                                              61
Guinea-Bissau                                           61
Macedonia, FYR                                          61
East Asia & Pacific (IDA & IBRD countries)              61
Oman                                                    61
Dominica                                                61
Austria                                                 61
Kuwait                                                  61
Senegal                                                 61
Tonga                                                   61
Korea, Rep.                                             61
Cameroon                                                61
Brunei Darussalam                                       61
Bulgaria                                                61
Chile                                                   61
Libya                                                   61
South Sudan                                             61
Caribbean small states                                  61
Albania                                                 61
Latin America & the Caribbean (IDA & IBRD countries)    61
Guinea                                                  61
Pre-demographic dividend                                61
New Zealand                                             61
Congo, Dem. Rep.                                        61
Guam                                                    61
Fragile and conflict affected situations                61
Egypt, Arab Rep.                                        61
Europe & Central Asia (excluding high income)           61
St. Vincent and the Grenadines                          61
Malawi                                                  61
Moldova                                                 61
Saudi Arabia                                            61
Lebanon                                                 61
Gabon                                                   61
Middle East & North Africa (excluding high income)      61
Bhutan                                                  61
United Arab Emirates                                    61
Portugal                                                61
Azerbaijan                                              61
Congo, Rep.                                             61
Small states                                            61
Comoros                                                 61
Middle income                                           61
Greenland                                               61
Norway                                                  61
Sub-Saharan Africa (IDA & IBRD countries)               61
Northern Mariana Islands                                61
Algeria                                                 61
Iraq                                                    61
Yemen, Rep.                                             61
Dominican Republic                                      61
Name: CountryName, dtype: int64

In [13]:
pd.unique(df[df.Region=="0"]['CountryName'])

array(['Euro area', 'European Union', 'Korea, Dem. People’s Rep.',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Myanmar',
       'North America', 'Northern Mariana Islands', 'Not classified',
       'OECD members', 'Other small states',
       'Pacific island small states', 'Sint Maarten (Dutch part)',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'South Sudan', 'St. Kitts and Nevis', 'St. Martin (French part)',
       'Syrian Arab Republic'], dtype=object)

In [16]:
'''df.loc[df.CountryCode=="ATG", "Region"] = "NORTHERN AMERICA"
df.loc[df.CountryCode=="BIH", "Region"] = "EASTERN EUROPE"
df.loc[df.CountryCode=="BRN", "Region"] = "ASIA (EX. NEAR EAST)"
df.loc[df.CountryCode=="CPV", "Region"] = "SUB-SAHARAN AFRICA"'''
df.loc[df.CountryName=="Korea, Dem. People’s Rep.", "Region"] = "East Asia & Pacific"

In [17]:
'''df = df[df.CountryCode!="WLD"]
df = df[df.CountryName!="Late-demographic dividend"]
df = df[df.CountryName!="Small states"]
df = df[df.CountryName!="Heavily indebted poor countries (HIPC)"]
#df = df[df.CountryName!="Low & middle income"]
df = df[df.CountryName!="OECD members"]
#df = df[df.CountryName!="Upper middle income"]
df = df[df.CountryName!="Early-demographic dividend"]
df = df[df.CountryName!="Post-demographic dividend"]
df = df[df.CountryName!="Pre-demographic dividend"]
#df = df[df.CountryName!="Middle income"]
df = df[df.CountryName!="Not classified"]
#df = df[df.CountryName!="Lower middle income"]
df = df[df.CountryName!="Fragile and conflict affected situations"]
df = df[df.CountryName!="Least developed countries: UN classification"]
df = df[df.CountryName!="East Asia & Pacific"]
df = df[df.CountryName!="Europe & Central Asia"]
df = df[~df.CountryName.str.contains('income')]
df = df[~df.CountryName.str.contains('Income')]
df = df[~df.CountryName.str.contains('dividend')]
df = df[~df.CountryName.str.contains('countries')]
'''

'df = df[df.CountryCode!="WLD"]\ndf = df[df.CountryName!="Late-demographic dividend"]\ndf = df[df.CountryName!="Small states"]\ndf = df[df.CountryName!="Heavily indebted poor countries (HIPC)"]\n#df = df[df.CountryName!="Low & middle income"]\ndf = df[df.CountryName!="OECD members"]\n#df = df[df.CountryName!="Upper middle income"]\ndf = df[df.CountryName!="Early-demographic dividend"]\ndf = df[df.CountryName!="Post-demographic dividend"]\ndf = df[df.CountryName!="Pre-demographic dividend"]\n#df = df[df.CountryName!="Middle income"]\ndf = df[df.CountryName!="Not classified"]\n#df = df[df.CountryName!="Lower middle income"]\ndf = df[df.CountryName!="Fragile and conflict affected situations"]\ndf = df[df.CountryName!="Least developed countries: UN classification"]\ndf = df[df.CountryName!="East Asia & Pacific"]\ndf = df[df.CountryName!="Europe & Central Asia"]\ndf = df[~df.CountryName.str.contains(\'income\')]\ndf = df[~df.CountryName.str.contains(\'Income\')]\ndf = df[~df.CountryName.str.contains(\'dividend\')]\ndf = df[~df.CountryName.str.contains(\'countries\')]\n'

In [18]:
df = df[df.TotalPopulation != 0]
df = df[df.MalePopulation != 0]
df = df[df.FemalePopulation != 0]

In [19]:
df = df[df.Region!="0"]

In [25]:
df = df[~df.Region.isnull()]

In [26]:
pd.value_counts(df.Region)

Europe & Central Asia         2898
Sub-Saharan Africa            2684
Latin America & Caribbean     1769
East Asia & Pacific           1642
Middle East & North Africa    1065
South Asia                     488
OCEANIA                        183
North America                  122
LATIN AMER. & CARIB            122
SUB-SAHARAN AFRICA             113
WESTERN EUROPE                  61
Name: Region, dtype: int64

In [27]:
df.shape

(11147, 14)

In [28]:
pd.unique(df['CountryName'])

array(['Afghanistan', 'Albania', 'Algeria', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. People’s Rep.',
       'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Swaziland',
       'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'West Bank and Gaza', 'Zambia', 'Zimbabwe'], dtype=object)

In [29]:
df.to_csv("data/population_le_cleaned.csv")

In [185]:
df.groupby(['Year'], axis=0).sum()

,TotalPopulation,MalePopulation,FemalePopulation,MalePercentage,FemalePercentage,TotalLifeExpectancy,MaleLifeExpectancy,FemaleLifeExpectancy
Year,,,,,,,,
1960,5.785408e+09,2897432948,2887632302,10182.327621,10317.672379,10438.795837,10939.972027,11727.592374
1961,5.877448e+09,2944160005,2932940189,10184.833383,10315.166617,10314.386879,11091.442290,11891.426378
1962,5.982941e+09,2997862193,2984726295,10188.248318,10311.751682,10389.872897,11166.064228,11977.166085
1963,6.101640e+09,3058332500,3042951336,10191.781691,10308.218309,10465.312163,11235.696523,12057.988618
1964,6.222637e+09,3119924612,3102352276,10194.781455,10305.218545,10529.716552,11302.774302,12137.585838
1965,6.345657e+09,3182471902,3162821196,10197.076680,10302.923320,10814.965689,11380.119509,12226.598265
1966,6.472661e+09,3247007663,3225285350,10198.719834,10301.280166,10665.653521,11450.265229,12308.963992
1967,6.600416e+09,3311843690,3288201414,10200.082274,10299.917726,10730.417153,11526.043378,12389.460247
1968,6.729805e+09,3377495114,3351935162,10201.644107,10298.355893,11013.388146,11593.888264,12469.104146
1969,6.864442e+09,3445818469,3418245581,10203.871922,10296.128078,10844.571665,11664.570303,12549.038619
1970,7.000696e+09,3515103809,3485210508,10206.815318,10293.184682,10899.207748,11731.308366,12627.296269
1971,7.140433e+09,3586253606,3553794989,10210.163200,10289.836800,10958.372181,11801.064072,12706.414892
1972,7.281597e+09,3658163888,3623047238,10213.530165,10286.469835,11025.021470,11870.523803,12789.792266
1973,7.423365e+09,3730432732,3692543637,10216.658774,10283.341226,11321.895244,11935.957503,12867.919316
1974,7.567213e+09,3803700024,3763122348,10219.347484,10280.652516,11169.344494,12003.228250,12951.915499
1975,7.711447e+09,3877064044,3833988939,10221.500928,10278.499072,11460.493482,12069.544113,13031.918915
1976,7.855180e+09,3950077623,3904704696,10223.081521,10276.918479,11330.696457,12143.906710,13118.503011
1977,8.000382e+09,4023734914,3976245577,10224.076448,10275.923552,11485.678906,12284.270460,13269.476277
1978,8.148831e+09,4098959944,4049465935,10224.656054,10275.343946,11485.315144,12280.843455,13270.947981
1979,8.301209e+09,4176133879,4124665650,10225.229186,10274.770814,11558.704423,12349.515412,13344.677199
1980,8.456138e+09,4254580141,4201144260,10226.141959,10273.858041,11621.420932,12413.208569,13405.631967
1981,8.613928e+09,4334477163,4279033665,10227.482236,10272.517764,11912.784958,12482.639462,13469.904033
1982,8.775954e+09,4416560693,4358972501,10229.002181,10270.997819,12039.304381,12605.093917,13596.602625
1983,8.939683e+09,4499546032,4439710502,10230.389172,10269.610828,12014.589983,12583.604372,13569.562053
1984,9.104264e+09,4583012177,4520820683,10231.428858,10268.571142,12055.843458,12627.772993,13616.907458
1985,9.271931e+09,4668116309,4603377821,10232.118166,10267.881834,12090.810050,12661.162192,13657.224228
1986,9.443836e+09,4755443388,4687949084,10232.460363,10267.539637,12348.627947,12692.561526,13694.352814
1987,9.619133e+09,4844573844,4774108940,10232.568255,10267.431745,12234.736545,12793.434407,13802.831551
1988,9.796579e+09,4934863784,4861258562,10232.653517,10267.346483,12184.203837,12750.519660,13755.521807
1989,9.975318e+09,5025867307,4948987485,10232.952209,10267.047791,12216.403909,12782.923920,13789.409719
...,...,...,...,...,...,...,...,...
1991,1.034602e+10,5214733320,5130805645,10334.501986,10365.498014,12416.022462,12943.736551,13937.506016
1992,1.051872e+10,5302693043,5215548076,10281.081761,10318.918239,12459.515905,13058.708186,14054.352914
1993,1.069708e+10,5393694489,5302900612,10280.800112,10319.199888,12425.596203,12968.653310,13947.101657
1994,1.087329e+10,5483538376,5389252307,10279.559202,10320.440798,12468.046139,13019.319080,13986.378075
1995,1.105337e+10,5575556630,5477310354,10335.920704,10364.079296,12830.576484,13216.560752,14185.969955
1996,1.122766e+10,5664097023,5563054670,10333.540316,10366.459684,12884.082598,13275.880334,14243.444746
1997,1.140250e+10,5752715968,5649273542,10330.215119,10369.784881,13015.190085,13397.057910,14372.595618
1998,1.157602e+10,5840612707,5734860672,10326.632116,10373.367884,12994.711363,13456.150587,14426.778641
1999,1.174969e+10,5928727641,5820415286,10323.689721,10376.310279,13069.641455,13534.406815,14505.319471
2000,1.192224e+10,6016597026,5905090409,10322.111872,10377.888128,13133.579376,13596.028828,14570.157402
2001,1.209495e+10,6104877306,5989511815,10321.763279,10378.236305,13431.553322,13743.851353,14724.649203
2002,1.226828e+10,6193739166,6073973597,10322.444453,10377.555954,13501.977811,13813.944673,14800.557522
2003,1.244350e+10,6283702119,6159223867,10324.517209,10375.482391,13568.251481,13888.989412,14875.675451
2004,1.262058e+10,6374611302,6245387213,10328.223327,10371.776282,13633.902048,13967.060654,14951.957598
2005,1.279895e+10,6466096780,6332268655,10333.222330,10366.778054,13464.095041,13964.360021,14940.960029
2006,1.297871e+10,6558155373,6419963271,10338.954777,10361.044846,13768.076794,14107.059082,15095.710929
2007,1.316003e+10,6650878401,6508550212,10344.644738,10355.355262,13588.411361,14093.714189,15071.831908
2008,1.334328e+10,6744474054,6598197748,10349.611589,10350.388411,13638.579151,14156.396457,15128.933455
2009,1.352627e+10,6837888011,6687763421,10353.497651,10346.502349,13925.417116,14287.342355,15272.740767
2010,1.370861e+10,6930971227,6777027148,10356.183224,10343.816776,13741.258690,14262.339591,15242.313391
2011,1.388672e+10,7021935774,6864167978,10357.593219,10342.406781,0.000000,0.000000,0.000000
2012,1.406609e+10,7113393049,6952074036,10307.799213,10292.200787,0.000000,0.000000,0.000000
2013,1.425168e+10,7207862349,7043182843,10307.128137,10292.871863,0.000000,0.000000,0.000000
2014,1.443824e+10,7302683721,7134916283,10305.917806,10294.082521,0.000000,0.000000,0.000000
2015,1.462461e+10,7397308820,7226656166,10304.740949,10295.259051,13677.738408,14487.740556,15451.327386
2016,1.478083e+10,7476264988,7303915279,10252.201495,10247.798505,0.000000,0.000000,0.000000
2017,1.496020e+10,7567286000,7392413000,10251.408517,10248.591483,0.000000,0.000000,0.000000
2018,1.513860e+10,7657602000,7480452000,10250.702523,10249.297477,0.000000,0.000000,0.000000
2019,1.531597e+10,7747303000,7568144000,10249.953189,10250.046811,0.000000,0.000000,0.000000
2020,1.549238e+10,7836372000,7655479000,10249.077291,10250.922709,0.000000,0.000000,0.000000